{
	"extends": [
		"react-app",
		"@elzup/eslint-config/typescript"
	],
	"rules": {
		"no-console": "off",
		"sort-imports": "off",
		"no-restricted-globals": "off",
		"react-hooks/exhaustive-deps": "off",
	}
}
